{% extends 'demo_12306.html' %}

{% block content %}

    <form class="form-search" action="/search12306/" method="get">
        <input class="input-medium search-query" type="text" name="place">
        <button type="submit" class="btn" contenteditable="true">查找</button>
    </form>

{#    {% if seats %}#}
{#        <table class="table table-hover">#}
            {#        <caption><strong>Result</strong></caption>#}
{#            <thead>#}
{#            <tr>#}
{#                <th>邮箱</th>#}
{#                <th>姓名</th>#}
{#                <th>密码</th>#}
{#                <th>号码</th>#}
{#                <th>身份证</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for seat in seats %}#}
{#                <tr>#}
{#                    <td>{{ seat.mail }}</td>#}
{#                    <td>{{ seat.name }}</td>#}
{#                    <td>{{ seat.key }}</td>#}
{#                    <td>{{ seat.phone }}</td>#}
{#                    <td>{{ seat.cardId }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    {% else %}#}
        <p>Enter the name !!</p>
{#    {% endif %}#}
{% endblock %}